.mother{
    font-family:Poppins, sans-serif;
    background-color: white;
    width: 1200px;
    height: 550px;
}
#header{
    background-color: gray;
    width: 1200px;
    height: 100px;
}
.logo{
    font-family:Poppins, sans-serif;
    background-color: gray;
    width: 100px;
    height: 100px;
}
.savings{
    width: 500px;
    height: 200px;
}
.invest{
    width: 500px;
    height: 200px;
}
.growth{
    width: 500px;
    height: 200px;
}
.money{
    width: 500px;
    height: 200px;
}
.finlit{
    width: 500px;
    height: 200px;
}
  
.child1::before {
    content: "";
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
  
  #p2 {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
  }
  .child2::before {
    content: "";
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
  
  .container p {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
  }
  .child3::before {
    content: "";
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
  
  .container p {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
  }
  .child4::before {
    content: "";
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
  
  .container p {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
  }
  .child5::before {
    content: "";
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
  
  .container p {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
  }
  .child2::before {
    content: "";
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
  
  .container p {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
  }
  
